/* styles/Modal.module.css */
.modal-wrapper {
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 90vh; /* Limit modal height to viewport height */
  overflow-y: auto; /* Allow scrolling if content overflows */
  margin: 0 auto; /* Center the modal horizontally */
 
}

.modal {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #888 #f1f1f1;
  background: white;
  border-radius: 15px; /* Use consistent border radius */
  padding: 40px; /* Add more padding for better spacing */
  max-height: 80vh; /* Limit height for better viewport fit */
  overflow-y: auto; /* Allow scrolling inside the modal */
}

.modal-overlay {
  padding-top: 140px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent overlay from scrolling */
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.modal-header button {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}

.modal-body {
  padding: 0;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
